version: 2.1
orbs:
  # orgs contain basc recipes and reproducible actions (install node, aws, etc.)
  node: circleci/node@4.1.0
  # different jobs are calles later in the workflows sections
jobs:
  build:
    docker:
      # the base image can run most needed actions with orbs
      - image: 'cimg/base:stable'
    steps:
      # install dependencies in both apps
      - run: 'npm run frontend:build'
      - run: 'npm run backend:build'
  install:
    docker:
      - image: 'cimg/base:stable'
    steps:
      - node/install
      - checkout
      - run: 'npm run frontend:install'
      - run: 'npm run backend:install'
workflows:
  react-pipeline-workflow:
    jobs:
      - install
      - build
